
.services-container{
    background-color:  #500472;
    background-size:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
}


.services-heading{
    color:#ffff;
    margin-top:3rem;
<<<<<<< HEAD
    margin-bottom :3rem;
=======
    margin-bottom :4rem;
>>>>>>> 3b257b71ac533aa258c36ff862b67f938fe6321b
}

.services-heading span{
    color:#10bd61;
}



.card{
    flex :1 1 30rem;
    text-align: center;
    background-color: #212121;
    border-radius: 10px;
<<<<<<< HEAD
    padding :20px 10px;
    transition:.5s ease;
    margin:8px;
=======
    padding :20px 20px;
    transition:.5s ease;
    margin:5px;
>>>>>>> 3b257b71ac533aa258c36ff862b67f938fe6321b
    cursor:pointer;
}

.card:hover{
    
    border:2px Solid #10bd61;
}
.card i{
    color:#10bd61;
    font-size: 40px;
}
.card h1{
    color:#fff;
}

.card p{
    color:#ffff;
    font-size:18px;
    font-weight: 400;
}

.services-card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
    
}

@media screen and (min-width:769px){
    .services-container{
        background-size:auto;
<<<<<<< HEAD
        padding:10px 100px;
   }
   .card{
    padding:20px 30px; 
=======
        padding:10px 30px;
>>>>>>> 3b257b71ac533aa258c36ff862b67f938fe6321b
   }
    
}

<<<<<<< HEAD
=======

>>>>>>> 3b257b71ac533aa258c36ff862b67f938fe6321b
