.certificates-section{
    background:#500472 ;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    
}
.certificates-section h1{
    color:#fff;
    margin-bottom: 10px;
}
.certificates-section h1 span{
    color:#10bd61;
}

.certificates-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px 50px ;
    flex-wrap: wrap;

}
.certificates-container img{
    width:250px;
    margin: 20px 35px 60px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.certificates-container img:hover{
    transform: scale(1.2);
    
    
}
@media screen and (max-width:769px){
    .certificates-section{
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* Style the scrollbar */
    .certificates-section::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
        background-color: hsl(248, 85%, 50%); 
    }

    /* Style the scrollbar thumb */
    .certificates-section::-webkit-scrollbar-thumb {
        background-color: hsl(0, 29%, 6%); 
        border-radius: 5px; 
    }

    /* Style the scrollbar track */
    .certificates-section::-webkit-scrollbar-track {
        background-color: #ccc; 
        border-radius: 5px; 
    }

    /* Style the scrollbar corner */
    .certificates-section::-webkit-scrollbar-corner {
        background-color: #f0f0f0; 
    }
}